.experiment-page {
    background-image: url('exp-background.jpg');
    height: 100vh;
    position: relative;
}

.header {
    position: absolute;
    /* background-color: black; */
    width: 100%;
    height: 60px;
}

.content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: white;
    position: absolute;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding: 40px;
    background-color: rgba(13,110,253,0.9);
    width: 1450px;
    min-height: 200px;   
    display: flex;
}

.left-side {
    /* background-color: brown; */
    width: 50%;
    height: auto;
    float: left;
    text-align: center;
    padding: 15px;
    padding-right: 50px;
}

.right-side {
    background-color: whitesmoke;
    width: 50%;
    height: auto; 
    float: right;
}