@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Macondo&family=Noto+Serif:wght@400;700&family=Roboto+Slab&family=Yeseva+One&family=Zeyada&display=swap');

.main-page-background{
    width: 100hh;
    height: 100vh;
    background-image: url('home-background.png');
    background-repeat: no-repeat;
    background-size: 1535px 710px;
    position: relative;
}

.title
{
    /* background-color: aqua; */
    position: absolute;
    margin-left: 356px;
    margin-top: 200px;
    padding: 20px;
    text-align: center;
    font-family: 'Yeseva One', 'Zeyada';
    font-size: xx-large;
    font-weight: bolder;
    width: 820px;
    height: 316px;
}
